.box{
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 2px dotted black;
}
#text{
    padding-left: 100px;
    padding-bottom: 100px;
    background-color: yellow;
    display: table;
    visibility:visible;
    box-sizing: content-box;
}